@import './src/styles/variables';

.contact {
    background: url('/public/images/contact-bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding: 20px;
    }

    h1 {
        &.title_main {
            margin-bottom: 160px;

            &:after {
                background: $themaColor-Magenta;
                content: '';
                position: absolute;
                width: 55px;
                height: 1px;
                bottom: -40px;
                left: 135px;
            }

            @media (max-width: 1024px) {
                margin-bottom: 100px;
            }
        }
    }

    .col {
        float: left;
        width: 50%;

        @media (max-width: 1024px) {
            width: 100%;
        }    

        .field {

            &:not(:first-child) {
                margin-top: 30px;
            }

            label {
                color: $color-Gray;
                display: block;
                font-size: 12px;
                line-height: 33px;                
                font-family: 'Gotham-Medium';
                font-weight: 500;
                text-transform: uppercase;
                text-indent: 12px;
                letter-spacing: 1.5px;
            }

            textarea {
                background-color: transparent;
                border: 1px solid $color-Dark-Blue;
                padding: 10px 0px 10px 10px;
                color: $color-white;
                text-transform: uppercase;
                width: 90%;
                outline:none;
            }

            input {
                &[type=text],
                &[type=email],
                &[type=number] {
                    background-color: transparent;
                    border: 1px solid $color-Dark-Blue;
                    padding: 10px 0px 10px 10px;
                    color: $color-white;
                    text-transform: uppercase;
                    width: 90%;
                    outline:none;
                }  
            }

            &__radio {
                padding: 0px;
                display: block;
                margin-bottom: 50px;

                li {
                    float: left;
                    margin-right: 46px;

                    label {
                        cursor: pointer;
                        text-indent: 25px;
                        position: relative;

                        input[type=radio] {
                            display: none;

                            + span {
                                background-color: transparent;
                                transition: background-color 0.5s ease;
                                border: 1px solid $color-Dark-Blue;
                                content: '';
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                left: 0;
                                top: 10px;
                            }
                            &:checked {
                                + span {
                                    background-color: $color-white;
                                }
                            }
                        }
                    }
                }
            }

            &__city {
                width: 76%;
                display: inline-block;
            }

            &__state {
                width: 20%;
                display: inline-block;
                position: relative;

                select {
                    background: transparent;
                    border: 1px solid $color-Dark-Blue;
                    color: $color-white;
                    height: 37px;
                    padding: 0 40px 0 12px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    position: relative;

                    option {
                        background: $color-Dark-Blue;
                    }                    
                }

                &:after {
                    color: $themaColor-Magenta;
                    content: '>';
                    position: absolute;
                    transform: rotate(90deg);
                    right: 53px;
                    top: 9px;
                    z-index: -1;
                }
            }            
        }

        .fone {
            &__ddd {
                width: 20%;
                display: inline-block;

                input[type=number] {
                    width: 60%
                }
            }

            &__number {
                width: 76%;
                display: inline-block;
            }
        }

        .btn {
            display: block;
            text-align: right;
            margin-top: 20px;     
            margin-right: 40px;

            button {
                background-color: $themaColor-Magenta;
                border: 1px solid $themaColor-Magenta;
                color: #000;
                cursor: pointer;
                font-family: 'Gotham-Medium';
                font-size: 11px;
                letter-spacing: 2px;
                padding: 12px 50px;
                text-transform: uppercase;
                transition: background .4s ease,color .4s ease;
                white-space: nowrap;

                &:hover {
                    background: transparent;
                    color: $themaColor-Magenta;
                }                
            }

            &__clear {
                margin-right: 20px;
            }
        }
    }
}