$themeColor-Dark:#b68d4c;
$themaColor-Black: #000;
$themaColor-Grey: #91a3ad;
$themaColor-Magenta: #ed145b;
$color-Gray: #424a4f;
$color-Light-Gray: #616d72;
$color-Dark-Blue: #363c40;
$color-white: #fff;
