@import './src/styles/variables';

.photos {
    padding: 0 120px 160px 120px;
    background: url("../../public/images/photo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

    &__title {
        color: $themaColor-Grey;
        font: 45px "Gotham-Medium";
        margin: 0 0 60px;
        padding-bottom: 45px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        &:after {
            background-color: $themaColor-Magenta;
            bottom: 0;
            content: '';
            display: block;
            height: 3px;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 30px;
        }
    }

    .slider {
        &-control-bottomcenter {
            display: none;
        }

        &-control-topcenter {
            position: relative !important;
            margin: 0 auto;
            margin-top: 15px;
            width: 200px;
            left: auto !important;
            text-align: right;
        }

        &-control-centerright button,
        &-control-centerleft button {
            background-color: $themaColor-Magenta !important;
            cursor: pointer !important;
            display: block;
            font-size: 0;
            height: 200px;
            padding: 0 !important;
            position: absolute;
            top: calc(50% - 20px);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: visibility .4s ease-out,opacity .4s ease-out;
            transition: visibility .4s ease-out,opacity .4s ease-out;
            width: 30px;
            z-index: 5;
            outline: 0;

            &:after {
                background-color: transparent;
                border: 3px solid #000;
                content: '';
                display: block;
                height: 15px;
                left: 50%;
                position: absolute;
                width: 15px;
            }
        }

        &-control-centerleft {
            left: -20px !important;

            button:after {
                border-right: 0;
                border-top: 0;
                -webkit-transform: rotate(45deg) translateX(-50%);
                transform: rotate(45deg) translateX(-50%);
            }
        }

        &-control-centerright {
            right: 20px !important;

            button:after {
                border-bottom: 0;
                border-left: 0;
                left: calc(50% - 5px);
                -webkit-transform: rotate(45deg) translateX(-50%);
                transform: rotate(45deg) translateX(-50%);
            }
        }
    }
    
}