@import './src/styles/variables';

.concept {
    background: url('/src/public/images/concept-bg.png') top no-repeat;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-bottom: 222px;

    h3 {
        font-weight: 200;
        letter-spacing: 2px;
        color: $themaColor-Grey;
        font: 51px/61px "Gotham-Light";
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 35px;

        strong {
            font-weight: 600
        }

        @media screen and (max-width: 610px) {
            font-size: 25px;
            line-height: 35px;
        }
    }

    p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 30px;
        color: $themaColor-Grey;
        font-family: "Gotham-Light";
        text-align: center;
        max-width: 70%;
        margin: 0 auto 60px;

        @media screen and (max-width: 610px) {
            font-size: 14px;
            line-height: 19px;
        }
    }

    .cta__join-us {
        svg {
            max-width: 222px;
            margin: 70px 0 75px;
        }
    }

    .scroll__circle {
        display: block;
        cursor: pointer;

        &-text {
            font-family: "Gotham-Medium";
            font-size: 11px;
            letter-spacing: 1.5px;
            color: $themaColor-Grey;
            margin-top: 80px;
            text-transform: uppercase;
            -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
        }

        &-icon {
            background-color: $color-Light-Gray;
            display: block;
            height: 80px;
            margin: 10px auto;
            width: 1px;
            position: relative;

            &:before {
                background-color: transparent;
                border: 1px solid $color-Light-Gray;
                border-radius: 50%;
                content: '';
                display: block;
                left: 50%;
                height: 24px;
                position: absolute;
                bottom: -10px;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 24px;
            }
        }
    }
}