@import './src/styles/variables';

header {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;

    @media screen and (max-width: 610px) {
        display: inline-block;
        height: auto;
        margin-bottom: 35px;
    }

    .logo {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        position: relative;
        width: 20%;

        @media screen and (max-width: 610px) {
            width: 100%;
            display: inline-block;
            text-align: center;
            padding-top: 22px;
        }
    }

    .menu {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        position: relative;
        height: 100%;
        width: 70%;

        &__list {
            color: $color-Light-Gray;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font: 14px "Gotham-Medium";
            letter-spacing: 1.5px;
            line-height: 100px;
            text-transform: uppercase;
            -webkit-transition: color .2s ease-out;
            transition: color .2s ease-out;
            white-space: nowrap;
            width: 70%;

            li {
                height: 100%;
                padding: 0 20px;
                position: relative;

                a {
                    color: $color-Light-Gray;
                    cursor: pointer;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font: 14px "Gotham-Medium";
                    letter-spacing: 1.5px;
                    line-height: 100px;
                    text-transform: uppercase;
                    -webkit-transition: color .2s ease-out;
                    transition: color .2s ease-out;
                    white-space: nowrap;
                    position: relative;

                    &:hover {
                        color: $themaColor-Magenta;

                        &:after {
                            width: 40px;
                        }
                    }

                    &:after {
                        background: $themaColor-Magenta;
                        content: '';
                        display: block;
                        height: 2px;
                        left: 0;
                        position: absolute;
                        top: 70px;
                        -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                        width: 10px;
                    }
                }

                @media screen and (max-width: 1590px) {
                    padding: 0 15px;
                }
            }
        }

        &__login {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            position: relative;
            width: 15%;

            span {
                background-color: $themaColor-Magenta;
                border: 1px solid $themaColor-Magenta;
                color: $themaColor-Black;
                cursor: pointer;
                font: 11px "Gotham-Medium";
                letter-spacing: 2px;
                padding: 10px 0;
                text-transform: uppercase;
                -webkit-transition: background .4s ease,color .4s ease;
                transition: background .4s ease,color .4s ease;
                white-space: nowrap;
                width: 150px;
                text-align: center;

                &:hover {
                    background: $themaColor-Black;            
                    color: $themaColor-Magenta;
                }
            }

            @media screen and (max-width: 610px) {
                display: none;
            }
        }

        @media screen and (max-width: 610px) {
            width: 100%;
            display: inline-block;
            text-align: center;

            ul {
                width: 100%;
            }
        }
    }
}